@font-face {
    font-family: "Sharp Grotesk Medium 20";
    src: url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.svg#Sharp Grotesk Medium 20") format("svg"); /* iOS 4.1- */
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
}

.logoAndTitle {
    display: flex;
    margin-bottom: 30px;
}

.logoAndTitle svg {
    padding-top: 5px;
}

.container h1 {
    padding-left: 30px;
    padding-top: 22px;
    font-family: "Sharp Grotesk Medium 20", sans-serif;
    font-size: 32px;
}

.googleBtn {
    padding: 0;
    border: none;
    width: 250px;
    height: 53px;
    border-radius: 4px;
    background-color: #0073F7;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    cursor: pointer;
}

.googleBtn:hover {
    background: #004df0;
}

.googleBtn:focus {
    outline: none;
}

.googleBtn svg {
    padding-left: 6px;
}

.googleBtn a {
    width: 100%;
    height: 100%;
    vertical-align: center;
    padding-top: 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
