*{
    scrollbar-width: thin;
    scrollbar-color:#747E8A #FFFFFF;
}
  
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #FFFFFF;
}

*::-webkit-scrollbar-thumb {
    background-color: #747E8A;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #424242;
}

.workspace {
    min-height: 100vh;
    border-right: 1px solid rgba(0, 36, 77, 0.08);
    border-left: 1px solid rgba(0, 36, 77, 0.08);
}
