@import url(//db.onlinewebfonts.com/c/ff43ca80668e47a1b1208ba9aed65ad2?family=Sharp+Grotesk+Medium+20);

.header {
    display: flex;
    align-items: center;
    grid-column: 2/4;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 10px 40px rgba(0, 115, 247, 0.01), 0 6px 5px rgba(0, 115, 247, 0.03);
}

.headerTitle {
    position: relative;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20em;
}

.headerTitleNameApp {
    font-family: "Sharp Grotesk Medium 20", sans-serif;
    font-size: 1.2em;
    text-transform: uppercase
}

.headerInfo {
    position: absolute;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8em;
}

.headerInfoBell {
    cursor:pointer;
    transition: 0.3s;
}

.headerInfoBell:hover {
    fill: #3e3e3e;
}

.headerInfoName {
    font-family: "Graphik", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    color: #00244D;
}

/*@media screen and (max-width: 1000px) {
    .HeaderWrapper {
        margin: 0;
    }

    .HeaderWrapperTwo {
        display: flex;
        flex-wrap: nowrap;

    }
}*/


/*@media screen and (max-width: 335px) {
    .Header {
        min-width: 335px;
    }

    .HeaderRight {
        padding-left: 10px;
    }

    .HeaderTitleNameApp {
        font-size: 15px;
        line-height: 20px;
    }
}*/
