@font-face {
    font-family: "Sharp Grotesk Medium 20";
    src: url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/ff43ca80668e47a1b1208ba9aed65ad2.svg#Sharp Grotesk Medium 20") format("svg"); /* iOS 4.1- */
}

.header {
    display: flex;
    align-items: center;
    grid-column: 2/4;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 10px 40px -40px rgba(0, 115, 247, 0.01), 0 6px 5px -5px rgba(0, 115, 247, 0.03);
}

.headerTitle {
    position: relative;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20em;
}

.headerTitleNameApp {
    font-family: "Sharp Grotesk Medium 20", sans-serif;
    font-size: 1.2em;
    text-transform: uppercase
}

.headerInfo {
    position: absolute;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16,7em;

}

.headerInfoBell {
    cursor: pointer;
}

.headerInfoBell:hover {
    fill: #424242;
}

.headerInfoName {
    font-family: "Graphik", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    color: #00244D;
}

.logout {
    cursor: pointer;
    background: none;
    border: none;
    height: 24px;
}

.logout svg:hover path {
    fill: #424242;
}

.userPic {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 0 12px 0 12px;
}

/*@media screen and (max-width: 1000px) {
    .HeaderWrapper {
        margin: 0;
    }

    .HeaderWrapperTwo {
        display: flex;
        flex-wrap: nowrap;

    }
}*/


/*@media screen and (max-width: 335px) {
    .Header {
        min-width: 335px;
    }

    .HeaderRight {
        padding-left: 10px;
    }

    .HeaderTitleNameApp {
        font-size: 15px;
        line-height: 20px;
    }
}*/
