.greeting {
    width: 335px;
    height: 291px;
    padding: 16px 24px 24px 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 115, 247, 0.01);
    border-radius: 8px;
}

.planner {
    display: block;
    margin: 0 auto;
}