* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
}

.greeting {
    width: 335px;
    height: 291px;
    padding: 16px 24px 24px 24px;
    background-color: #FFFFFF;
    box-shadow: 10px 40px rgba(0, 115, 247, 0.01);
    border-radius: 8px;
    box-sizing: border-box;
}

.planner {
    display: block;
    margin: 0 auto;
}

.title {
    margin-top: 24px;
    font-weight: bold;
}

.tasksList {
    margin-top: 4px;
}