.magic
{
    position: relative;
    left: 24vw;
    cursor: pointer;
    transform: translate(-50%,-50%);
    width: 14vw;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: unset;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 4px;
    border: 0;
}

.magic:hover
{
    animation: animate 2s linear infinite;
}

@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}

.TaskContainer {
    width: 90%;
    margin: 5%;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 115, 247, 0.01), 0px 6px 5px rgba(0, 115, 247, 0.02);
    border-radius: 8px;
}

.TaskTitleContainer {
    display: flex;
    width: 100%;
    height: 69px;
    outline: none;
    border: 1px solid rgba(0, 36, 77, 0.08);
    background: #FFFFFF;
    border-radius: 8px 8px 0 0;
    resize: none;
    font-family: 'Graphik', sans-serif;
}

.CheckboxTitleWrapper {
    display: flex;
    width: 100%;
    min-width: 200px; /*пока что захардкодила, что div, содержащий title и date не может быть меньше 200px */
    padding-right: 12px;
    align-items: center;
}

.TitleDataWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.Checkbox {
    margin: 0 12px 0 16px;
    resize: none;
}

.Title {
    width: 100%;
    height: 24px;
    resize: none;
    font-family: 'Graphik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    border: none;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Title:focus {
    outline: none;
}

time {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #747E8A;
    font-family: 'Graphik', sans-serif;
}


.Icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
}

.IconWrapper {
    display: flex;
    padding-right: 12px;
    border: none;
    background: none;
    cursor: pointer;
}

.IconWrapper:last-child {
    border-right: 1px solid #C5D0DB;
}


summary::-webkit-details-marker{
    display:none;

}
summary::-moz-list-bullet{
    list-style-type:none;
}
summary::marker{
    display:none;
}
summary {
    position: relative;
    display: flex;
    align-items:center;
}
summary:before {
    right: 1%;
    background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
    width: 2em;
    height: 2em;
    content: "";
    position: absolute;
    transition: transform .5s;
    transform: rotateZ(90deg);
    cursor: pointer;
}
details[open] > summary:before {
    transform: rotateZ(270deg);
}

details[open] summary ~ *{
    animation: sweep .5s ease-in-out;
}
@keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}
summary:focus {
    outline:0;
}
details{
    display:block;
    font-size: 30px;
}

.TaskActions {
    min-height: 48px;
    display: flex;
}

.DelAndSave {
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 1;
    margin-left: auto;
}

button,
button:active,
button:focus {
    outline: none;
}

.DelIconContainer {
    padding-top: 4px;
    padding-right: 12px;
    cursor:pointer;
    border: none;
    background: none;
}

.Icon svg:hover path {
    fill: #424242;
}


@media screen and (max-width: 917px) {
    .Icon{
        width: 12px;
    }

    .IconBottom {
        width: 16px !important;
    }

}


@media screen and (max-width: 1366px) {
    summary:before {
        right: 2%;
    }

}

