.TaskInput {
    width: 100%;
    height: 80px;
    outline: none;
    border: 1px solid rgba(0, 36, 77, 0.08);
    background: #FCFDFF;
    resize: none;
    font-family: 'Graphik', sans-serif;
    padding: 16px;
}