.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    padding: 3vw 4% 2% 4%;

    border-bottom: 1px solid rgba(0, 36, 77, 0.08);
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    color: #00244D;
}

.addTask {
    width: 9em;
    height: 3em;

    background: #0073F7;
    border-radius: 6px;
    border: none;
    cursor: pointer;

    font-family: 'Graphik', sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.addTask:hover {
    background: #004df0;
}